extends layout

block content
  .container-fluid
    .row-fluid
      .span12
        div.page-header
          h2 Search

        table.table.table-striped.span8
          thead
            tr
              th img
              th title
              th brand
              th price
              th description
          tbody
            for item in products
              tr
                td
                  a(href="#{item.link}")
                    img(src="#{item.image}", height="40px", width="40px")
                td
                  a(href="#{item.link}") #{item.title}
                td #{item.brand}
                td #{item.price}
                td #{item.description}
